Asistente_Principal_V2.json
{
  "name": "Asistente Principal V2",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        840,
        -660
      ],
      "id": "a12c3df9-3185-4fba-91f4-046ebaf34a41",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zakv3aiGrrBGEeC3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message_text }}",
        "options": {
          "systemMessage": "=Reglas generales\n- Si el usuario está registrado (ClienteID existe en la base de datos):\n  - Saluda usando su nombre_cliente. Ejemplo:\n    “Hola [nombre_cliente], ¿en qué puedo ayudarte hoy?”\n- Si el usuario NO está registrado:\n  - Saluda de forma genérica sin pedir datos. Ejemplo:\n    “Hola, ¿en qué puedo ayudarte?”\n\n- Nunca pidas datos personales (nombre, teléfono, email) salvo que el usuario quiera crear una cita.\n- Siempre que te pidan información sobre servicios, precios, profesionales, horarios, ubicación o métodos de pago:\n  - Consulta la herramienta Info_Centro.\n  - Devuelve la información encontrada de forma clara y natural.\n  - Si Info_Centro no tiene la respuesta:\n    “No dispongo de esa información en este momento. ¿Quieres que te ponga en contacto con el centro para resolver tu duda?”\n\n- Antes de crear, modificar, cancelar o consultar citas, consulta la herramienta Gestion_Clientes para obtener los datos actuales del cliente.\n\nUso de Gestion_Clientes\n- Solo cuando el usuario quiera crear una cita:\n  - Si ClienteID existe en la base de datos:\n    - Usa los datos guardados (nombre_cliente, teléfono, email).\n  - Si ClienteID NO existe:\n    - Pide los siguientes datos:\n      - Nombre\n      - Teléfono\n      - Email\n    - Guarda estos datos en la base de datos antes de continuar con la reserva.\n\n- Si el usuario solicita ver o modificar sus datos personales:\n  - Muéstralos o actualízalos según corresponda.\n\n- El chat_id es un identificador interno y nunca debe mostrarse ni mencionarse al usuario.\n\n- Por defecto, el campo modificar se envía como false.\n- Si el usuario pide explícitamente cambiar sus datos personales, envía modificar como true.\n\nLógica de gestión de citas\n\n1. Crear cita\n- Preguntar:\n  - ¿Qué servicio desea reservar?\n  - ¿Con qué fisioterapeuta?\n  - ¿Para qué día y hora?\n\n- Si el usuario NO menciona un fisioterapeuta:\n  - Consulta Info_Centro para ver quién ofrece el servicio.\n  - Responde:\n    “Estos son los fisioterapeutas que ofrecen [servicio]: Anna, Pedro, Sara. ¿Con cuál quieres la cita?”\n\n- Verificar disponibilidad en calendario:\n  - Si disponible:\n    “La franja horaria está disponible. ¿Deseas que te agende la cita?”\n  - Si NO disponible:\n    “Ese horario no está disponible. ¿Quieres que te proponga otras opciones?”\n\n2. Modificar cita\n- Verificar si hay citas asociadas a ClienteID:\n  - Si sí:\n    - Preguntar nueva fecha y hora deseadas.\n    - Verificar disponibilidad.\n    - Confirmar la modificación.\n  - Si no:\n    “No he encontrado ninguna cita asociada a tu perfil.”\n\n3. Cancelar cita\n- Verificar si hay citas asociadas a ClienteID:\n  - Si sí:\n    - Confirmar la cancelación.\n  - Si no:\n    “No he encontrado ninguna cita asociada a tu perfil.”\n\n4. Obtener citas (recordar citas)\n- Si el usuario pregunta sobre sus citas (futuras o pasadas):\n  - Consulta en la base de datos todas las citas asociadas a su ClienteID.\n  - Si hay citas futuras:\n    - Listar las citas encontradas de forma clara y ordenada.\n    - Ejemplo:\n      “Tienes las siguientes citas:\n      - Viernes 26 de julio a las 10:00 con Anna (Pilates)\n      - Lunes 29 de julio a las 15:00 con Pedro (Osteopatía)”\n  - Si no hay citas:\n    “No he encontrado ninguna cita asociada a tu perfil.”\n  - Si el usuario pregunta por un día específico:\n    - Filtrar las citas para ese día y responder si hay o no citas en esa fecha.\n\nContexto de fecha actual\n- Hoy es: {{ $now }}\n- Si el usuario dice “hoy”, “mañana” o “pasado mañana”:\n  - Traducir a la fecha real comparando con la fecha actual.\n\nUso de Info_Centro para preguntas generales\n- Siempre que el usuario haga preguntas generales (no relacionadas con reservas) usa Info_Centro para obtener la respuesta.\n- Ejemplo:\n  Usuario: “¿Quién ofrece pilates?”\n  Asistente: “Anna es especialista en pilates y atiende de lunes a viernes de 9:00 a 17:00.”\n\n- Nunca inventes información.\n- Si no encuentras la respuesta:\n  “No dispongo de esa información en este momento. ¿Quieres que te ponga en contacto con el centro?”\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        860,
        -500
      ],
      "id": "c7179f4e-358e-43bb-af19-1774c6986478",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "name": "Verificar_Disponibilidad",
        "description": "=Esta herramienta verifica si un horario específico está disponible en la agenda del fisioterapeuta.\n\n📌 **Cuando usarla:**\n- Llama a esta herramienta si el usuario ha proporcionado una **fecha y hora exactas**.\n- No la llames si el usuario solo ha dado una fecha sin hora; en ese caso, usa `Generar_Horarios_Disponibles`.\n\n**Datos esperados**\n- `fecha`: La fecha de la cita en formato `YYYY-MM-DD`.\n- `hora`: La hora solicitada en formato `HH:MM`.",
        "workflowId": {
          "__rl": true,
          "value": "AvZr2iYmHGJDdo9Y",
          "mode": "list",
          "cachedResultName": "Verificar_Disponibilidad _V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{ $fromAI('fecha', ``, 'string') }}",
            "hora": "={{ $fromAI('hora', ``, 'string') }}",
            "profesional": "={{ $fromAI('profesional', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "profesional",
              "displayName": "profesional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        560,
        -100
      ],
      "id": "d5342f71-0005-4d89-9595-26a7451ba56f",
      "name": "Verificar_Disponibilidad"
    },
    {
      "parameters": {
        "name": "Generar_Horarios_Disponibles",
        "description": "=Generar_HorarioEsta herramienta devuelve una lista de horarios disponibles en un día específico dentro del horario laboral del fisioterapeuta.\n\n📌 **Cuándo llamarla:**\n- Úsala cuando el usuario **solo menciona una fecha** pero **no especifica una hora**.\n- Úsala si `Verificar_Disponibilidad` devuelve `false`, para sugerir horarios alternativos disponibles.\n- NO la llames si el usuario ya ha seleccionado una hora y está disponible.\n\n📥 **Inputs esperados:**\n- `fecha`: La fecha para la que se quieren obtener los horarios, en formato `YYYY-MM-DD`.\n\n📤 **Output esperado:**\n```json\n{\n  \"disponibles\": [\"09:00\", \"10:00\", \"12:00\", \"14:00\", \"16:00\"]\n}\n",
        "workflowId": {
          "__rl": true,
          "value": "HyKPZfkuXMFW1TMs",
          "mode": "list",
          "cachedResultName": "Generar_Horarios_Disponibles  V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', ``, 'string') }}",
            "profesional": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('profesional', ``, 'string') }}"
          },
          "matchingColumns": [
            "fecha"
          ],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "profesional",
              "displayName": "profesional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        740,
        -100
      ],
      "id": "f282174d-8cb6-44fa-8bca-c01ef515fede",
      "name": "Generar_Horarios_Disponibles"
    },
    {
      "parameters": {
        "name": "Crear_Evento",
        "description": "=📅 **Tool: `Crear_Evento`**  \nEsta herramienta permite **agendar una cita en Google Calendar** para el fisioterapeuta en una fecha y hora específicas.\n\n---\n\n🔹 **Cuándo usar esta herramienta:**\n- **Solo si el usuario ha confirmado que quiere reservar una cita.**\n- **Solo si `Verificar_Disponibilidad` ha indicado que la franja horaria está libre.**\n- **Nunca se debe llamar automáticamente sin la aprobación del usuario.**\n\n---\n\n📥 **Inputs esperados:**\n- `fecha`: La fecha de la cita en formato `YYYY-MM-DD`.\n- `hora`: La hora de inicio de la cita en formato `HH:mm`.\n- `nombre`: El nombre del paciente (si se ha proporcionado).\n- `email`: El email del paciente (si se ha proporcionado).\n\n---\n\n📤 **Output esperado:**\n```json\n{\n  \"evento_creado\": true,\n  \"detalles\": {\n    \"fecha\": \"2025-03-22\",\n    \"hora\": \"10:00\",\n    \"link\": \"https://calendar.google.com/event?eid=xyz\"\n  }\n}\n",
        "workflowId": {
          "__rl": true,
          "value": "vlKJrDta3amJe4uF",
          "mode": "list",
          "cachedResultName": "Crear_Evento  V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre', ``, 'string') }}",
            "hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', `En formato hh:mm:ss`, 'string') }}",
            "fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', `En formato yyy/mm/dd`, 'string') }}",
            "profesional": "={{ $fromAI('profesional', ``, 'string') }}",
            "ClienteID": "={{ $('Datos').item.json.chat_id }}",
            "numero": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numero', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "profesional",
              "displayName": "profesional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ClienteID",
              "displayName": "ClienteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        880,
        -100
      ],
      "id": "a1733225-e004-48a0-8f79-aa969b36a3d8",
      "name": "Crear_Evento"
    },
    {
      "parameters": {
        "name": "Cancelar_Cita",
        "description": "=Úsala solo cuando el usuario quiera cancelar una cita de forma definitiva.\nNunca la uses para modificar una cita. \nSi el usuario quiere cambiar la fecha u hora de su cita, usa Modificar_Cita, no Cancelar_Cita.\n",
        "workflowId": {
          "__rl": true,
          "value": "z3PfRN1tiEK8i5BA",
          "mode": "list",
          "cachedResultName": "Cancelar_Cita  V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', ``, 'string') }}",
            "hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', ``, 'string') }}",
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
            "profesional": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('profesional', ``, 'string') }}",
            "ClienteID": "={{ $('Datos').item.json.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "profesional",
              "displayName": "profesional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ClienteID",
              "displayName": "ClienteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1000,
        -100
      ],
      "id": "4a430b44-f142-4148-9aa6-bc1cb451a99d",
      "name": "Cancelar_Cita"
    },
    {
      "parameters": {
        "name": "Modificar_Cita",
        "description": "Usaras esta herramienta cuando el usuario tenga intencion de modificar una cita",
        "workflowId": {
          "__rl": true,
          "value": "DyjbwDWVqkoB19RT",
          "mode": "list",
          "cachedResultName": "Modificar_Cita  V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "HoraNueva": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('HoraNueva', ``, 'string') }}",
            "fechaNueva": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fechaNueva', ``, 'string') }}",
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
            "hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', ``, 'string') }}",
            "fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', ``, 'string') }}",
            "descripcion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('descripcion', ``, 'string') }}",
            "profesional": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('profesional', ``, 'string') }}",
            "ClienteID": "={{ $('Datos').item.json.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fechaNueva",
              "displayName": "fechaNueva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "HoraNueva",
              "displayName": "HoraNueva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "profesional",
              "displayName": "profesional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ClienteID",
              "displayName": "ClienteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1120,
        -100
      ],
      "id": "e8f2c5a4-5fed-4683-bae9-b63cf4b839c7",
      "name": "Modificar_Cita"
    },
    {
      "parameters": {
        "name": "Obtener_Citas",
        "description": "Esta herramienta la usaras cuando el usuario quiera obtener sus citas",
        "workflowId": {
          "__rl": true,
          "value": "GeBpYi8Gibw8TllQ",
          "mode": "list",
          "cachedResultName": "Obtener_Citas V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1240,
        -100
      ],
      "id": "b24c7f77-eeb4-4925-845f-35a37f5b28c9",
      "name": "Obtener_Citas"
    },
    {
      "parameters": {
        "chatId": "={{ $('Datos').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1480,
        -500
      ],
      "id": "8a4d740a-4907-4399-bb93-5c5bf30cd20a",
      "name": "Send a text message",
      "webhookId": "feeb3657-ceeb-4823-bf05-c30030b9a20c",
      "credentials": {
        "telegramApi": {
          "id": "L3emIcgf7R6djVr1",
          "name": "JosepBot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a74e1514-9bf9-4e2d-acc7-0b2bd6bd1113",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "5c4a9e55-6fc5-4f07-bbec-53b00cebecf5",
              "name": "message_text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        -500
      ],
      "id": "d59b1974-ce47-4f59-955d-ce3b788116db",
      "name": "Datos"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        -500
      ],
      "id": "ec008aad-2538-4ad9-85e3-21607e97b793",
      "name": "JosepBot",
      "webhookId": "2d2080bd-c638-45c1-bc13-2cb99e7c27ff",
      "credentials": {
        "telegramApi": {
          "id": "L3emIcgf7R6djVr1",
          "name": "JosepBot"
        }
      }
    },
    {
      "parameters": {
        "description": "Este flujo se usa para crear, obtener y actualizar los datos de un cliente en la base de datos.",
        "workflowId": {
          "__rl": true,
          "value": "kBbCk7NWMTxnHxOx",
          "mode": "list",
          "cachedResultName": "Gestion_Clientes V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefono', ``, 'string') }}",
            "chat_id": "={{ $('Datos').item.json.chat_id }}",
            "modificar": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('modificar', ``, 'string') }}",
            "nombre_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nombre_cliente', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "modificar",
              "displayName": "modificar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1380,
        -100
      ],
      "id": "b5aa8709-9a4d-452a-be22-6764b73f9154",
      "name": "Gestion_Clientes"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Datos').item.json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1040,
        -660
      ],
      "id": "6dc8b7d6-4593-4113-ba78-dce20a719e45",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Úsala solo cuando el usuario quiera información sobre el centro o sobre alguna consulta\n",
        "workflowId": {
          "__rl": true,
          "value": "OxIL0ED7Tsh4jmmp",
          "mode": "list",
          "cachedResultName": "Infor_Centro V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "duda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duda', ``, 'string') }}"
          },
          "matchingColumns": [
            "duda"
          ],
          "schema": [
            {
              "id": "duda",
              "displayName": "duda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1500,
        -100
      ],
      "id": "6b023268-8c24-479b-975a-cb876a2531b9",
      "name": "Info_Centro"
    },
    {
      "parameters": {
        "content": "## 📨 Entrada de mensaje del usuario\nRecibe el mensaje desde Telegram a través del Webhook.\nExtrae el número de teléfono y el texto del usuario, que se envía al agente de IA para determinar la intención.",
        "height": 340,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        -640
      ],
      "id": "95ca4625-369d-402f-89c2-3439c84bc9c5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🧠 Determinar intención del usuario\nEl agente GPT analiza el mensaje y clasifica la intención\n\nDevuelve un objeto con intención, parámetros y mensaje a mostrar.",
        "height": 480,
        "width": 520,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        -820
      ],
      "id": "2e5de115-ac55-46aa-a020-e7f84ae6bd98",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## 🛣️ Redirigir según intención\nSegún la intención detectada, se redirige a uno de los subflujos correspondientes",
        "height": 400,
        "width": 1200,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        -240
      ],
      "id": "bc135b84-7fe7-4493-8721-d9a1876a0e9a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 📤 Responder por Telegram\nSe envía al usuario la respuesta generada por el subflujo o por el agente.\nEjemplo: confirmación, error, mensaje de ayuda o texto generado por el asistente.",
        "height": 300,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        -640
      ],
      "id": "29f4728c-90a3-466d-9bd4-cb6565ddbebe",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar_Disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generar_Horarios_Disponibles": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crear_Evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar_Cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Modificar_Cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener_Citas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Datos": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JosepBot": {
      "main": [
        [
          {
            "node": "Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gestion_Clientes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Info_Centro": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "79284f97-6162-4384-b733-cd70a880192d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d051716d31b47e82869244b00323064210b99143f3d8d00d35d6b51296b9d2e4"
  },
  "id": "0UOOoC4UH8BKQ369",
  "tags": [
    {
      "createdAt": "2025-05-20T07:01:25.686Z",
      "updatedAt": "2025-05-20T07:01:25.686Z",
      "id": "duJ951xsaFzMxE5Z",
      "name": "Reservas_Citas_V2"
    }
  ]
}