Cancelar_Cita__V2.json
{
  "name": "Cancelar_Cita  V2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        220
      ],
      "id": "8137c183-65de-4c56-b92e-55012ead36dc",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed2c58bf-8c8b-4c19-abeb-46e36a51c051",
              "leftValue": "={{ $json.disponible }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        320
      ],
      "id": "a86e8a29-7cb0-46b7-938a-c92a2008df13",
      "name": "Existe cita"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "789a42c5-af02-4f30-b981-c3f0bce9840a",
              "name": "respuesta",
              "value": "=No existe ninguna cita en esta fecha:  {{ $json.fechaInicio }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        420
      ],
      "id": "fdce6b70-f3bc-499c-8d4e-fb12b63ed259",
      "name": "No Existe"
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.calendarId }}",
          "mode": "id"
        },
        "eventId": "={{ $('Verificar_Disponibilidad V2').item.json.idEvento }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1640,
        240
      ],
      "id": "6a51b0b7-d302-4c2b-81a1-46435fcf65b2",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "IcuYXSaofNNuap0i",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Profesional_Id').item.json.calendarId }}",
          "mode": "id"
        },
        "eventId": "={{ $('Verificar_Disponibilidad V2').item.json.idEvento }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2100,
        180
      ],
      "id": "79912694-f1f6-45e2-b144-f06bb792a9d3",
      "name": "Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "IcuYXSaofNNuap0i",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f602b85-4d28-4205-84f7-8a42658cfa63",
              "name": "respuesta",
              "value": "Esta cita no esta vinculada a tu numero de telefono",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2100,
        400
      ],
      "id": "8d7397d2-662a-4228-97f2-8af09a9486e9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefono"
            },
            {
              "name": "fecha"
            },
            {
              "name": "hora"
            },
            {
              "name": "profesional"
            },
            {
              "name": "ClienteID"
            }
          ]
        }
      },
      "id": "93693dfb-f8a1-4ff6-aaf1-2e77963342cd",
      "typeVersion": 1.1,
      "name": "Inputs",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        280,
        460
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AvZr2iYmHGJDdo9Y",
          "mode": "list",
          "cachedResultName": "Verificar_Disponibilidad _V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{ $json.fecha }}",
            "hora": "={{ $json.hora }}",
            "profesional": "={{ $json.profesional }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "profesional",
              "displayName": "profesional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        740,
        320
      ],
      "id": "5645e981-fd89-406e-ac04-ac54590406a9",
      "name": "Verificar_Disponibilidad V2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27837ee7-26f1-4b0a-9c41-ceb682d7011f",
              "name": "telefono",
              "value": "={{ $json.telefono }}",
              "type": "string"
            },
            {
              "id": "9ac99796-0ae4-4ab7-87bf-467c4c0c9db2",
              "name": "fecha",
              "value": "={{ $json.fecha }}",
              "type": "string"
            },
            {
              "id": "c58ec4d0-963f-420f-9031-234e50957063",
              "name": "hora",
              "value": "={{ $json.hora }}",
              "type": "string"
            },
            {
              "id": "45a96927-f0c5-49a9-ba63-bab71ad8c9ce",
              "name": "profesional",
              "value": "={{ $json.profesional }}",
              "type": "string"
            },
            {
              "id": "76200b12-2265-4379-822b-10f085db170a",
              "name": "ClienteID",
              "value": "={{ $json.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        320
      ],
      "id": "d761b390-fc2d-4b19-a450-7bf0275b7862",
      "name": "Datos Flujo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7d0cf08-f1be-4bf1-88d5-728cd85ef6b9",
              "name": "telefono",
              "value": "=636577185",
              "type": "string"
            },
            {
              "id": "b504df07-990a-4b9f-aad8-c2c311149020",
              "name": "fecha",
              "value": "2025/05/23",
              "type": "string"
            },
            {
              "id": "7c6ebf9d-9062-4246-a9cd-ce42de1f1381",
              "name": "hora",
              "value": "=15:00",
              "type": "string"
            },
            {
              "id": "3d970d6e-e459-4cd8-86a5-23c64bcaa4b2",
              "name": "profesional",
              "value": "Anna",
              "type": "string"
            },
            {
              "id": "325ab69d-bcc1-43d5-a273-659900d74a05",
              "name": "ClienteID",
              "value": "420798317",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        220
      ],
      "id": "168a6f3e-615f-4127-b093-06160c1ec114",
      "name": "Datos Demo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "358a98db-023f-4979-b215-a783152332c7",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        220
      ],
      "id": "e4687cb5-294f-457f-afdb-0c9f525ac9ae",
      "name": "Error Exsite"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vjPXXPvk6cQVuEJy",
          "mode": "list",
          "cachedResultName": "Obtener_Id_Profesional V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "profesional": "={{ $('Datos Flujo').item.json.profesional }}"
          },
          "matchingColumns": [
            "profesional"
          ],
          "schema": [
            {
              "id": "profesional",
              "displayName": "profesional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1180,
        220
      ],
      "id": "6a197a7e-332e-4e89-80ea-4a62d720b140",
      "name": "Profesional_Id"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7dc0e047-0cbe-4de2-ae4f-1865d374d0ec",
              "leftValue": "={{ $json.description }}",
              "rightValue": "={{ $('Datos Flujo').item.json.ClienteID }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1860,
        240
      ],
      "id": "9e6a8dc8-4a2c-48dd-bb98-27b5e95e7486",
      "name": "ClienteID"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Datos Demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe cita": {
      "main": [
        [
          {
            "node": "Profesional_Id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "ClienteID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inputs": {
      "main": [
        [
          {
            "node": "Datos Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar_Disponibilidad V2": {
      "main": [
        [
          {
            "node": "Existe cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos Flujo": {
      "main": [
        [
          {
            "node": "Verificar_Disponibilidad V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos Demo": {
      "main": [
        [
          {
            "node": "Datos Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Exsite": {
      "main": [
        [],
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profesional_Id": {
      "main": [
        [
          {
            "node": "Error Exsite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClienteID": {
      "main": [
        [
          {
            "node": "Google Calendar1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8861c6fc-1236-4fc6-9608-e98eb421e27f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d051716d31b47e82869244b00323064210b99143f3d8d00d35d6b51296b9d2e4"
  },
  "id": "z3PfRN1tiEK8i5BA",
  "tags": [
    {
      "createdAt": "2025-05-20T07:01:25.686Z",
      "updatedAt": "2025-05-20T07:01:25.686Z",
      "id": "duJ951xsaFzMxE5Z",
      "name": "Reservas_Citas_V2"
    }
  ]
}