Gestion_Clientes_V2.json
{
  "name": "Gestion_Clientes V2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1060,
        -620
      ],
      "id": "a5776bea-7f0e-4252-b7ef-658e6b16a177",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1bdb23fb-a97a-4256-aedb-65f27d71440a",
              "name": "chat_id",
              "value": "420798317",
              "type": "string"
            },
            {
              "id": "ec232230-c2df-4502-80de-364215a632f4",
              "name": "nombre_cliente",
              "value": "Josep",
              "type": "string"
            },
            {
              "id": "fcab93b0-9fb7-42a7-be84-c81742978c49",
              "name": "modificar",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "18495628-bdd2-4210-8e75-bef8f0858a21",
              "name": "telefono",
              "value": "123465",
              "type": "string"
            },
            {
              "id": "bf0d602c-b073-4800-b68a-be87f3f3a534",
              "name": "email",
              "value": "clientepruebasqwerty@gmail.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -820,
        -620
      ],
      "id": "90ed2eeb-b5f3-4635-9fdc-dc12d38acbef",
      "name": "Datos Demo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0580882-6a21-4a5f-b0cf-9452f7572436",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "string"
            },
            {
              "id": "813ac211-de60-4f07-a1ce-f38cbed33752",
              "name": "nombre_cliente",
              "value": "={{ $json.nombre_cliente }}",
              "type": "string"
            },
            {
              "id": "dac90213-245a-4edf-8310-7a85486cc956",
              "name": "modificar",
              "value": "={{ $json.modificar }}",
              "type": "boolean"
            },
            {
              "id": "4959931e-1efe-4651-a612-098f284cd4b3",
              "name": "telefono",
              "value": "={{ $json.telefono }}",
              "type": "string"
            },
            {
              "id": "4ac7efb1-5f0f-46e7-91a6-dc5a4a4648b8",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -720
      ],
      "id": "fb91a805-ae48-4ca8-aa7d-5aa33464fe81",
      "name": "Datos"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Qj1s7y5HrgRsNAVGaA0ny2xbMP7Bp2xrn1TEWNy2t5U",
          "mode": "list",
          "cachedResultName": "Gestion_Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Qj1s7y5HrgRsNAVGaA0ny2xbMP7Bp2xrn1TEWNy2t5U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Qj1s7y5HrgRsNAVGaA0ny2xbMP7Bp2xrn1TEWNy2t5U/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ClienteID",
              "lookupValue": "={{ $json.chat_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        240,
        -380
      ],
      "id": "b216f541-e233-40f8-bba2-f646b89dcbae",
      "name": "Get ClientID",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GWmgOluWQHomzu6V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a21294dc-8f87-4443-b4ce-357f1041270c",
              "name": "respuesta",
              "value": "=Nuevo cliente con nombre  {{ $json.Nombre }}, faltaria el numeor de telefono y el email",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        80
      ],
      "id": "8a0526d4-dde9-4895-bf53-274e257e5b3d",
      "name": "Respuesta Crear Cliente"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Qj1s7y5HrgRsNAVGaA0ny2xbMP7Bp2xrn1TEWNy2t5U",
          "mode": "list",
          "cachedResultName": "Gestion_Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Qj1s7y5HrgRsNAVGaA0ny2xbMP7Bp2xrn1TEWNy2t5U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Qj1s7y5HrgRsNAVGaA0ny2xbMP7Bp2xrn1TEWNy2t5U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Datos').item.json.nombre_cliente }}",
            "ClienteID": "={{ $('Datos').item.json.chat_id}}",
            "Teléfono": "={{ $('Datos').item.json.telefono }}",
            "Email": "={{ $('Datos').item.json.email }}"
          },
          "matchingColumns": [
            "ClienteID"
          ],
          "schema": [
            {
              "id": "ClienteID",
              "displayName": "ClienteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1000,
        40
      ],
      "id": "2a8b86dd-a576-4263-93e8-977baccd7bee",
      "name": "Crear Cliente",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GWmgOluWQHomzu6V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "90e915f1-f82e-4c37-b01c-f6e2cbb9b190",
              "leftValue": "={{ $json.ClienteID }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        -380
      ],
      "id": "e5a8896b-5b37-46d9-ad94-5df19b2b5c00",
      "name": "ClientID existe"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "116119d2-0c2e-4bae-a892-f49b9fb100c8",
              "name": "ClienteID",
              "value": "={{ $json.ClienteID }}",
              "type": "number"
            },
            {
              "id": "de4af3de-deb9-4376-8b43-6e6538e9f55a",
              "name": "Nombre",
              "value": "={{ $json.Nombre }}",
              "type": "string"
            },
            {
              "id": "0b47692c-b6e0-4c1a-89a4-ada61ada9dde",
              "name": "Teléfono",
              "value": "={{ $json[\"Teléfono\"] }}",
              "type": "string"
            },
            {
              "id": "757a7afe-29c2-4fec-8265-b264e716e8a3",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        -400
      ],
      "id": "49d48ebb-4583-4bac-a736-0f5773ff6efd",
      "name": "Respuesta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d40f7844-e3d9-4054-8c91-d86abaab4f80",
              "leftValue": "={{ $json.modificar }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -300,
        -720
      ],
      "id": "41d93b89-3e18-4596-a173-be64d8cb53e0",
      "name": "Modificar"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Qj1s7y5HrgRsNAVGaA0ny2xbMP7Bp2xrn1TEWNy2t5U",
          "mode": "list",
          "cachedResultName": "Gestion_Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Qj1s7y5HrgRsNAVGaA0ny2xbMP7Bp2xrn1TEWNy2t5U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Qj1s7y5HrgRsNAVGaA0ny2xbMP7Bp2xrn1TEWNy2t5U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ClienteID": "={{ $('Datos').item.json.chat_id }}",
            "Teléfono": "={{ $('Datos').item.json.telefono }}",
            "Nombre": "={{ $('Datos').item.json.nombre_cliente }}",
            "Email": "={{ $('Datos').item.json.email }}"
          },
          "matchingColumns": [
            "ClienteID"
          ],
          "schema": [
            {
              "id": "ClienteID",
              "displayName": "ClienteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        540,
        -740
      ],
      "id": "1a925636-2ff9-4bd4-bfc9-74fd5157cbac",
      "name": "Modificar Datos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GWmgOluWQHomzu6V",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b83aea35-7707-4eac-9090-e0621a12a200",
              "name": "respuesta",
              "value": "Se han modificado los datos correctamente",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        -740
      ],
      "id": "d827323a-d12a-48f4-a63a-f7b371219b2f",
      "name": "Respuesta Modificar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d46a847-d50a-43bc-9c46-a0827faaa182",
              "name": "nombre_cliente",
              "value": "={{ $json.nombre_cliente && $json.nombre_cliente.toString().trim() !== \"\" ? $json.nombre_cliente : ($node[\"Modificar\"].json[\"nombre_cliente\"] || \"\") }}\n",
              "type": "string"
            },
            {
              "id": "7d882e58-cfbb-4e95-8e3d-0d677772694b",
              "name": "telefono",
              "value": "={{ $json.telefono && $json.telefono.toString().trim() !== \"\" ? $json.telefono : ($node[\"Modificar\"].json[\"Teléfono\"] || \"\") }}\n",
              "type": "string"
            },
            {
              "id": "0ae46466-84a0-4bb4-a0bb-c7dcc9139793",
              "name": "email",
              "value": "={{ $json.email && $json.email.toString().trim() !== \"\" ? $json.email : ($node[\"Modificar\"].json[\"Email\"] || \"\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        -740
      ],
      "id": "30a4757f-4c9d-40b6-9a07-172374d8c7cf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chat_id"
            },
            {
              "name": "nombre_cliente"
            },
            {
              "name": "telefono"
            },
            {
              "name": "email"
            },
            {
              "name": "modificar"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -820,
        -840
      ],
      "id": "131aaa58-ebdd-4549-a65a-6be62a1a1419",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a62773f7-e599-4bfd-a66f-fe6ac6d1d7bb",
              "leftValue": "={{ $json.nombre_cliente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -120,
        -400
      ],
      "id": "02326cd7-8c86-4ab6-abb2-131f17c2f796",
      "name": "nombre_cliente existe"
    },
    {
      "parameters": {
        "content": "## Parámetros recibidos\nEl flujo recibe tres parámetros:\n- nombre\n- telefono\n- email",
        "height": 480,
        "width": 680,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1100,
        -920
      ],
      "id": "138b6acd-0765-4523-becf-dae262d96f59",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🔄 ¿Modificar cliente existente?\n-  Se comprube si el parametro modificar es True\n- Se comprueba si el nombre del cliente ya está registrado.\n- Si existe, se modifica su información (teléfono/email).\n- Si no existe, se continúa con validación por teléfono.",
        "height": 720,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -340,
        -920
      ],
      "id": "63a78d75-c695-4719-a7ed-9e84168166ea",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🆕 Crear cliente nuevo\n- Inserta un nuevo registro con los datos recibidos.\n- Utiliza appendOrUpdate sheet para guardar en la hoja.\n- Devuelve respuesta de confirmación (Respuesta Crear Cliente).",
        "height": 460,
        "width": 820,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        -140
      ],
      "id": "a78abbab-09be-419c-bdfc-925d4cf41c5a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## ✏️ Modificar cliente\n- Actualiza los campos del cliente con el nombre encontrado:\n- Edita los valores con Edit Fields.\n- Guarda los datos en la hoja (Modificar Datos).\n- Devuelve mensaje de confirmación con Respuesta Modificar.",
        "height": 380,
        "width": 880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        -920
      ],
      "id": "4516b710-3260-49e9-b746-a0d6e3afa162",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 🚫 Cliente ya registrado\n- Si el teléfono ya existe, se aborta la creación.\n- El flujo finaliza con una respuesta informativa.",
        "height": 300,
        "width": 880,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        -500
      ],
      "id": "5b4d1296-b668-43cd-8e02-ad7c3f37d356",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Datos Demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos Demo": {
      "main": [
        [
          {
            "node": "Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos": {
      "main": [
        [
          {
            "node": "Modificar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ClientID": {
      "main": [
        [
          {
            "node": "ClientID existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Cliente": {
      "main": [
        [
          {
            "node": "Respuesta Crear Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClientID existe": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modificar": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "nombre_cliente existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modificar Datos": {
      "main": [
        [
          {
            "node": "Respuesta Modificar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Modificar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nombre_cliente existe": {
      "main": [
        [],
        [
          {
            "node": "Get ClientID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a31be551-c9df-46e6-88fd-6ac53748c4c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d051716d31b47e82869244b00323064210b99143f3d8d00d35d6b51296b9d2e4"
  },
  "id": "kBbCk7NWMTxnHxOx",
  "tags": [
    {
      "createdAt": "2025-05-20T07:01:25.686Z",
      "updatedAt": "2025-05-20T07:01:25.686Z",
      "id": "duJ951xsaFzMxE5Z",
      "name": "Reservas_Citas_V2"
    }
  ]
}