Infor_Centro_V2.json
{
  "name": "Infor_Centro V2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        -200
      ],
      "id": "d26248fd-a188-4003-a37d-fa3cfba48685",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af5f7a03-e4c8-4dd4-b9c6-5ec8b26383d9",
              "name": "duda",
              "value": "={{ $json.duda }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -660,
        -100
      ],
      "id": "0e153be5-b60d-4d6a-bf86-0a693d134bc3",
      "name": "Datos Flujo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b096ed5-73d7-4175-b4fb-230bf251ea0b",
              "name": "duda",
              "value": "¿Que servicios ofreceis? ¿A que precios?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        -200
      ],
      "id": "e8293557-39ae-4c86-9dfd-379a4fa691c2",
      "name": "Datos Demo"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.duda }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.5,
      "position": [
        -340,
        -100
      ],
      "id": "b8c9c4bd-0f75-4b05-88f3-f5d2c73f057e",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -340,
        80
      ],
      "id": "c6158211-c3d3-452a-90c2-7c201923592f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zakv3aiGrrBGEeC3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Q7An45ReEs4vDlIl",
          "mode": "list",
          "cachedResultName": "Info_Centro_Retriever V2"
        },
        "fields": {
          "values": [
            {
              "name": "duda",
              "stringValue": "={{ $('Datos Flujo').item.json.duda }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverWorkflow",
      "typeVersion": 1.1,
      "position": [
        -100,
        280
      ],
      "id": "cfa6914c-5624-4ecd-afae-f76542d1e6b1",
      "name": "Workflow Retriever"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "duda"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        0
      ],
      "id": "a1294887-94e0-4699-b34e-ece21d91a493",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cf544bb-843a-4c99-982b-f5cf1346e229",
              "name": "respuesta",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        -160
      ],
      "id": "9cc520c0-ed76-4b8b-93a9-16320afca000",
      "name": "Respuesta"
    },
    {
      "parameters": {
        "content": "## 🔁 Entrada externa (flujo principal)\nTambién puede iniciarse desde otro flujo, como el asistente de reservas.\nRecibe como input una duda del usuario (duda_usuario).",
        "height": 520,
        "width": 620,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1140,
        -340
      ],
      "id": "173b319a-24bd-415d-832c-a8197cfd04b8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🧠 Cadena pregunta-respuesta\nUsa GPT-4o vía LangChain para responder la duda usando el contexto recuperado.\n- Entrada → duda_usuario\n- Contexto → Textos del retriever\n- Salida → Respuesta generada (en respuesta)\n\n",
        "height": 520,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        -340
      ],
      "id": "c666ce1a-ff0c-4375-8aa0-c523a658a4a5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 📤 Respuesta final\nGuarda la respuesta en una variable o se devuelve al flujo principal.\nEste mensaje será enviado al usuario final.",
        "height": 360,
        "width": 340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        -340
      ],
      "id": "a5db4a43-b21b-493f-aef5-31b819f2bede",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n## 📚 Retriever - Info_Centro_Retriever_V2\nLlama al subflujo que accede a la base de conocimiento (documento FAQ)\ny recupera los textos más relevantes para la duda del usuario.",
        "height": 300,
        "width": 500,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -300,
        220
      ],
      "id": "138a487e-5716-4435-86bd-6dc43e3544ed",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Datos Demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos Demo": {
      "main": [
        [
          {
            "node": "Datos Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos Flujo": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Datos Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd9953dc-436a-4f8c-94ab-fe55bffdf173",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d051716d31b47e82869244b00323064210b99143f3d8d00d35d6b51296b9d2e4"
  },
  "id": "OxIL0ED7Tsh4jmmp",
  "tags": [
    {
      "createdAt": "2025-05-20T07:01:25.686Z",
      "updatedAt": "2025-05-20T07:01:25.686Z",
      "id": "duJ951xsaFzMxE5Z",
      "name": "Reservas_Citas_V2"
    }
  ]
}