Verificar_Disponibilidad__V2.json
{
  "name": "Verificar_Disponibilidad _V2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2060,
        -420
      ],
      "id": "1c1b8abb-c94e-488e-bb41-ba82f36721e1",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b5e240b-ac98-4962-9958-07a6f7729dfb",
              "leftValue": "={{ $json.id }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -740,
        -320
      ],
      "id": "4610c4bd-c868-4a8f-9093-0c3cd740ba75",
      "name": "Disponible"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98573e4a-b33d-4bca-a567-045cb7c84cc4",
              "name": "fechaCompleta",
              "value": "={{ $('Generar franja horaria 1h').item.json.fechaOriginal }} {{ $('Generar franja horaria 1h').item.json.horaOriginal }}",
              "type": "string"
            },
            {
              "id": "d7546cd4-869a-4de5-a02d-b28a683b8e68",
              "name": "disponible",
              "value": "=true",
              "type": "string"
            },
            {
              "id": "4901a819-749c-47ef-8c92-707bbd5d193c",
              "name": "profesional",
              "value": "={{ $('Generar franja horaria 1h').item.json.profesional }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        -420
      ],
      "id": "ccc6de75-9dcd-447b-83b9-9e95dcfdeb7b",
      "name": "Fecha Disponible"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "341eaca6-2a49-474c-b6c4-cb2d52717c6b",
              "name": "fechaCompleta",
              "value": "={{ $('Generar franja horaria 1h').item.json.fechaOriginal }} {{ $('Generar franja horaria 1h').item.json.horaOriginal }}",
              "type": "string"
            },
            {
              "id": "f5f04d68-336e-40da-acd7-5b07121c4dce",
              "name": "disponible",
              "value": "false",
              "type": "string"
            },
            {
              "id": "3da8a509-d4d4-4e3f-8d28-57008c7f386c",
              "name": "idEvento",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        -220
      ],
      "id": "c2806ccb-8eab-4296-97d9-eba1d6a83730",
      "name": "Fecha Ocupada"
    },
    {
      "parameters": {
        "jsCode": "// Nodo Code: convertir \"2025/03/25\" + \"13:01\" en \"2025-03-25T13:01:00\"\nconst fechaInput = $input.first().json.fecha.replace(/\\//g, '-'); // \"2025-03-25\"\nconst horaInput = $input.first().json.hora;                      // \"13:01\"\n\n// Para el inicio:\nconst fechaHoraInicio = `${fechaInput}T${horaInput}:00`; // \"2025-03-25T13:01:00\"\n\n// Sumamos +1 hora para fin\nconst [year, month, day] = fechaInput.split('-').map(Number);\nconst [hour, minute] = horaInput.split(':').map(Number);\nconst finHour = hour + 1;\nconst fechaHoraFin = `${year}-${String(month).padStart(2,'0')}-${String(day).padStart(2,'0')}T` +\n                     `${String(finHour).padStart(2,'0')}:${String(minute).padStart(2,'0')}:00`;\n\nreturn [\n  {\n    json: {\n      // Hora local sin offset\n      startDateTime: fechaHoraInicio,\n      endDateTime: fechaHoraFin,\n      fechaOriginal: fechaInput,\n      horaOriginal: horaInput,\n      profesional: $input.first().json.profesional\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1620,
        -320
      ],
      "id": "44e935af-2fc7-4ee2-a147-f0ac62aa52f7",
      "name": "Generar franja horaria 1h"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Execute Obtener_Id_Profesional V2').item.json.calendarId }}",
          "mode": "id"
        },
        "limit": 10,
        "timeMin": "={{ $('Generar franja horaria 1h').item.json.startDateTime }}",
        "timeMax": "={{ $('Generar franja horaria 1h').item.json.endDateTime }}",
        "options": {
          "timeZone": {
            "__rl": true,
            "value": "Europe/Madrid",
            "mode": "list",
            "cachedResultName": "Europe/Madrid"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -960,
        -320
      ],
      "id": "f8c20c2a-6225-4c22-b393-b18f7921f83b",
      "name": "Calendario V2",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "IcuYXSaofNNuap0i",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vjPXXPvk6cQVuEJy",
          "mode": "list",
          "cachedResultName": "Obtener_Id_Profesional V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "profesional": "={{ $json.profesional }}"
          },
          "matchingColumns": [
            "profesional"
          ],
          "schema": [
            {
              "id": "profesional",
              "displayName": "profesional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1400,
        -320
      ],
      "id": "8a755ae2-2d62-445b-9801-0d73f6aac060",
      "name": "Execute Obtener_Id_Profesional V2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "fecha"
            },
            {
              "name": "hora"
            },
            {
              "name": "profesional"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1840,
        -220
      ],
      "id": "01504610-90bd-49c6-a8ef-33ef9fe276ef",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec2409f5-14a6-4ccb-89b1-ae9d43e1be94",
              "name": "fecha",
              "value": "2025-05-25",
              "type": "string"
            },
            {
              "id": "ccf99959-7a55-45e2-89eb-138d33c0d277",
              "name": "hora",
              "value": "15:00",
              "type": "string"
            },
            {
              "id": "7aa9c929-841c-4e7e-a4dd-86f1993542db",
              "name": "profesional",
              "value": "Anna V2k",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1840,
        -420
      ],
      "id": "9f20270f-fce6-4140-a793-cc7c26e20455",
      "name": "Datos Demo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "358a98db-023f-4979-b215-a783152332c7",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1180,
        -320
      ],
      "id": "2eecc26e-79b2-4dbf-ad68-0615dd6b2cb5",
      "name": "Error Exsite"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Datos Demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponible": {
      "main": [
        [
          {
            "node": "Fecha Disponible",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fecha Ocupada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar franja horaria 1h": {
      "main": [
        [
          {
            "node": "Execute Obtener_Id_Profesional V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendario V2": {
      "main": [
        [
          {
            "node": "Disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Obtener_Id_Profesional V2": {
      "main": [
        [
          {
            "node": "Error Exsite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Generar franja horaria 1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos Demo": {
      "main": [
        [
          {
            "node": "Generar franja horaria 1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Exsite": {
      "main": [
        [],
        [
          {
            "node": "Calendario V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3063ff1b-2614-4553-8b0c-45a49470ea63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d051716d31b47e82869244b00323064210b99143f3d8d00d35d6b51296b9d2e4"
  },
  "id": "AvZr2iYmHGJDdo9Y",
  "tags": [
    {
      "createdAt": "2025-05-20T07:01:25.686Z",
      "updatedAt": "2025-05-20T07:01:25.686Z",
      "id": "duJ951xsaFzMxE5Z",
      "name": "Reservas_Citas_V2"
    }
  ]
}