Verificar_Disponibilidad__V2.json
{
  "name": "Verificar_Disponibilidad _V2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2280,
        -380
      ],
      "id": "1c1b8abb-c94e-488e-bb41-ba82f36721e1",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b5e240b-ac98-4962-9958-07a6f7729dfb",
              "leftValue": "={{ $json.id }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        -280
      ],
      "id": "4610c4bd-c868-4a8f-9093-0c3cd740ba75",
      "name": "Disponible"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98573e4a-b33d-4bca-a567-045cb7c84cc4",
              "name": "fechaCompleta",
              "value": "={{ $('Generar franja horaria 1h').item.json.fechaOriginal }} {{ $('Generar franja horaria 1h').item.json.horaOriginal }}",
              "type": "string"
            },
            {
              "id": "d7546cd4-869a-4de5-a02d-b28a683b8e68",
              "name": "disponible",
              "value": "=true",
              "type": "string"
            },
            {
              "id": "4901a819-749c-47ef-8c92-707bbd5d193c",
              "name": "profesional",
              "value": "={{ $('Generar franja horaria 1h').item.json.profesional }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -220,
        -420
      ],
      "id": "ccc6de75-9dcd-447b-83b9-9e95dcfdeb7b",
      "name": "Fecha Disponible"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "341eaca6-2a49-474c-b6c4-cb2d52717c6b",
              "name": "fechaCompleta",
              "value": "={{ $('Generar franja horaria 1h').item.json.fechaOriginal }} {{ $('Generar franja horaria 1h').item.json.horaOriginal }}",
              "type": "string"
            },
            {
              "id": "f5f04d68-336e-40da-acd7-5b07121c4dce",
              "name": "disponible",
              "value": "false",
              "type": "string"
            },
            {
              "id": "3da8a509-d4d4-4e3f-8d28-57008c7f386c",
              "name": "idEvento",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        -180
      ],
      "id": "c2806ccb-8eab-4296-97d9-eba1d6a83730",
      "name": "Fecha Ocupada"
    },
    {
      "parameters": {
        "jsCode": "// Nodo Code: convertir \"2025/03/25\" + \"13:01\" en \"2025-03-25T13:01:00\"\nconst fechaInput = $input.first().json.fecha.replace(/\\//g, '-'); // \"2025-03-25\"\nconst horaInput = $input.first().json.hora;                      // \"13:01\"\n\n// Para el inicio:\nconst fechaHoraInicio = `${fechaInput}T${horaInput}:00`; // \"2025-03-25T13:01:00\"\n\n// Sumamos +1 hora para fin\nconst [year, month, day] = fechaInput.split('-').map(Number);\nconst [hour, minute] = horaInput.split(':').map(Number);\nconst finHour = hour + 1;\nconst fechaHoraFin = `${year}-${String(month).padStart(2,'0')}-${String(day).padStart(2,'0')}T` +\n                     `${String(finHour).padStart(2,'0')}:${String(minute).padStart(2,'0')}:00`;\n\nreturn [\n  {\n    json: {\n      // Hora local sin offset\n      startDateTime: fechaHoraInicio,\n      endDateTime: fechaHoraFin,\n      fechaOriginal: fechaInput,\n      horaOriginal: horaInput,\n      profesional: $input.first().json.profesional\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1620,
        -320
      ],
      "id": "44e935af-2fc7-4ee2-a147-f0ac62aa52f7",
      "name": "Generar franja horaria 1h"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Execute Obtener_Id_Profesional V2').item.json.calendarId }}",
          "mode": "id"
        },
        "limit": 10,
        "timeMin": "={{ $('Generar franja horaria 1h').item.json.startDateTime }}",
        "timeMax": "={{ $('Generar franja horaria 1h').item.json.endDateTime }}",
        "options": {
          "timeZone": {
            "__rl": true,
            "value": "Europe/Madrid",
            "mode": "list",
            "cachedResultName": "Europe/Madrid"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -700,
        -280
      ],
      "id": "f8c20c2a-6225-4c22-b393-b18f7921f83b",
      "name": "Calendario V2",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "IcuYXSaofNNuap0i",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vjPXXPvk6cQVuEJy",
          "mode": "list",
          "cachedResultName": "Obtener_Id_Profesional V2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "profesional": "={{ $json.profesional }}"
          },
          "matchingColumns": [
            "profesional"
          ],
          "schema": [
            {
              "id": "profesional",
              "displayName": "profesional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1300,
        -320
      ],
      "id": "8a755ae2-2d62-445b-9801-0d73f6aac060",
      "name": "Execute Obtener_Id_Profesional V2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "fecha"
            },
            {
              "name": "hora"
            },
            {
              "name": "profesional"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2020,
        -220
      ],
      "id": "01504610-90bd-49c6-a8ef-33ef9fe276ef",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec2409f5-14a6-4ccb-89b1-ae9d43e1be94",
              "name": "fecha",
              "value": "2025-05-25",
              "type": "string"
            },
            {
              "id": "ccf99959-7a55-45e2-89eb-138d33c0d277",
              "name": "hora",
              "value": "15:00",
              "type": "string"
            },
            {
              "id": "7aa9c929-841c-4e7e-a4dd-86f1993542db",
              "name": "profesional",
              "value": "Anna V2k",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2020,
        -380
      ],
      "id": "9f20270f-fce6-4140-a793-cc7c26e20455",
      "name": "Datos Demo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "358a98db-023f-4979-b215-a783152332c7",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -980,
        -320
      ],
      "id": "2eecc26e-79b2-4dbf-ad68-0615dd6b2cb5",
      "name": "Error Exsite"
    },
    {
      "parameters": {
        "content": "## 📥 Parámetros de entrada\nRecibe:\n- Fecha y hora solicitadas\n- Profesional\nEstos datos se usan para construir la franja horaria que se desea verificar.",
        "height": 580,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2320,
        -580
      ],
      "id": "d277b15e-d7e1-42e3-af51-a91c318d1765",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🕐 Calcular rango horario\nTransforma fecha + hora en:\n- startDateTime: fecha y hora exacta\n- endDateTime: +1h (duración estándar de las citas)\n- Formato compatible con Google Calendar (ISO 8601).",
        "height": 580,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1720,
        -580
      ],
      "id": "c2609094-40c7-47fd-9e88-1821c90da8bc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🗓️ Obtener calendarId del profesional\nLlama al subflujo Obtener_Id_Profesional_V2 para obtener el calendarId.\nEste ID es necesario para consultar su disponibilidad.",
        "height": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        -580
      ],
      "id": "70344cc8-b550-4a4a-aeda-057f17659321",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## ⚠️ Verificación de errores\nValida si se ha producido un error al obtener el calendarId.\nSi $json.error existe → se corta el flujo sin continuar.",
        "height": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1060,
        -580
      ],
      "id": "93076232-3c46-4634-b9f9-6a1626a6c295",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 🔍 Buscar eventos en el horario\nConsulta si hay algún evento ya agendado en el rango [startDateTime - endDateTime].\nFiltra por el calendarId del profesional.",
        "height": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        -580
      ],
      "id": "bbd4d6d9-92f5-4214-8b87-afa610896ce3",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## ✅ Resultado de verificación\nSi no hay eventos → se marca disponible = true.\n\nSi hay un evento existente → se marca disponible = false y se guarda el idEvento.",
        "height": 580,
        "width": 420,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -440,
        -580
      ],
      "id": "b11be66a-a667-4eea-9a51-d89ce97b839d",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Datos Demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponible": {
      "main": [
        [
          {
            "node": "Fecha Disponible",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fecha Ocupada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar franja horaria 1h": {
      "main": [
        [
          {
            "node": "Execute Obtener_Id_Profesional V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendario V2": {
      "main": [
        [
          {
            "node": "Disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Obtener_Id_Profesional V2": {
      "main": [
        [
          {
            "node": "Error Exsite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Generar franja horaria 1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos Demo": {
      "main": [
        [
          {
            "node": "Generar franja horaria 1h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Exsite": {
      "main": [
        [],
        [
          {
            "node": "Calendario V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7681810b-56aa-4a27-a03d-1edc0aa63ac1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d051716d31b47e82869244b00323064210b99143f3d8d00d35d6b51296b9d2e4"
  },
  "id": "AvZr2iYmHGJDdo9Y",
  "tags": [
    {
      "createdAt": "2025-05-20T07:01:25.686Z",
      "updatedAt": "2025-05-20T07:01:25.686Z",
      "id": "duJ951xsaFzMxE5Z",
      "name": "Reservas_Citas_V2"
    }
  ]
}